{{#each imovel}}

  <div class="row" style="border-width: 5px;
    border-radius: 10px;
    border-style: outset;
    padding: 10px;
    margin-left: 5px;
    overflow: auto;
    margin-top: 20px; margin-bottom: 20px;
">
    <div class=".col-md-4 listingImage" style="float: left">
      <img style="display: block; max-width: 250px;" class="vh-photo mceItem" src="https://visualhunt.com/photos/m/6/apartment-accommodation-flat-loft-domicile.jpg">
    </div>
    <div class=".col-md-6 listingContents" style="
    float: left;
    margin-left: 20px;
    margin-top: 5px;
">
        Bairro: {{neighborhood}}
      <br>
        Endereço: {{address}}
    </div>
  </div>

{{/each}}
