{{#each imovel}}

<div style="margin-top: 20px; margin-bottom: 20px;">
  <div class=".col-md-6 .col-md-offset-3">
    Bairro: {{neighborhood}}
    <br>
    Endereço: {{address}}
  </div>
</div>

{{/each}}
