{{#each imovel}}
<p>
<div class="listaImovel">
      <div class="bairro">
        Bairro: {{neighborhood}}
      </div>
      <div class="endereco">
        Endereco: {{address}}
      </div>
      <div class="cep">
        CEP: {{cep}}
      </div>
</div>
</p>

{{/each}}
