<div class="listaImovel">
      <div class="">
        Bairro: {{bairro}}
      </div>
      <div class="">
        Endereco: {{endereco}}
      </div>
      <div class="">
        CEP: {{cep}}
      </div>
</div>