<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ALUGAQUI - Listagem Imóveis</title>
  </head>
  <body>
    <h1>
      Lets get this party started IN
    </h1>
    <h1>
       {{bairro}}
     </h1>
    <footer>
      <h2>        
        AlugAqui 2017
      </h2>
    </footer>
  </body>
</html>