<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ALUGAQUI - Listagem Imóveis</title>
  </head>
  <body>
    <h1>
      Aqui estão os imóveis que você procura:
    </h1>
    <div class="listaImovel">
      <div class="">
        Bairro: {{bairro}}
      </div>
      <div class="">
        Endereco: {{endereco}}
      </div>
      <div class="">
        CEP: {{cep}}
      </div>
    </div>
    <footer>
      <h2>        
        AlugAqui 2017
      </h2>
    </footer>
  </body>
</html>